.rainbow {
  display: flex;
  /* display: inline-flex; */
}
.red {
  background-color: red;
  width: 100px;
  height: 100px;
}
.orange {
  background-color: orange;
  width: 100px;
  height: 200px;
}
.yellow {
  background-color: yellow;
  width: 100px;
  height: 300px;
}
.green {
  background-color: green;
  width: 100px;
  height: 400px;
}
.blue {
  background-color: blue;
  width: 100px;
  height: 500px;
}
.navy {
  background-color: navy;
  width: 100px;
  height: 600px;
}
.purple {
  background-color: purple;
  width: 100px;
  height: 700px;
}
