.test {
  width: 50%;
  background-color: orange;
  color: orangered;
  font-size: larger;
  margin: 0 auto;
  text-align: center;
}

.input {
  text-align: center;
}

.input input {
  margin-left: 10px;
}
